<h1><%= @foster_cat.name %>'s Profile</h1>

<%= link_to "Back", foster_cats_path %>
<br />
<br />

<div>
    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>Set</th>
                <th>Name</th>
                <th>Birth Date</th>
                <th>Sex</th>
                <th>Breed</th>
                <th>Colors</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><%= @foster_cat.set_id %></td>
                <td><%= @foster_cat.name %></td>
                <td><%= @foster_cat.birth_date %></td>
                <td><%= @foster_cat.sex %></td>
                <td><%= @foster_cat.breed %></td>
                <td><%= @foster_cat.colors %></td>
            </tr>
        </tbody>
    </table>
</div>

<%= link_to "Edit", edit_foster_cat_path(@foster_cat), class: "btn btn-sm btn-warning" %>
<br />
<br />
<%= button_to "Delete", foster_cat_path(@foster_cat.id), method: :delete, data: { turbo_confirm: "Are you sure?" }, class: "btn btn-sm btn-danger" %>
